.card{
  text-align: center;
}
.figure img{
  border-radius: 10em 10em 0 0 ;
  
}
.figure{
  border-radius: white;
}
.fa-regular{
  font-size: 5rem;
  
}
.fa-solid{
  color: rgba(243, 243, 19, 0.932);
}
.nav-item :hover{
text-decoration: underline;
}